# cache
**/__pycache__

# data files
*.csv
*.dat
*.db
*.dbf
*.log
*.mdb
*.sql
*.xml
*.ini
*.conf
*.yaml
*.yml
*.properties
*.txt
*.csv
*.dat
*.db
*.dbf
*.log
*.mdb
*.sql
*.xml
*.ini
*.conf
*.yaml
*.yml
*.properties
*.txt
*.csv
*.dat
*.db
*.dbf
*.log
*.mdb
*.sql
*.xml
*.svg
*.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
